@use "../../assets/vars.scss";


.pseudoBody{
  display: flex;
  justify-content: space-around;
  font-family: vars.$police-main;
}

.ad-1{
  display: flex;
  width: 160px;
  height: 600px;
  background-color: gray;
  margin: 6rem 0 0 0;
}

.contener-main{
  display: flex;
  flex-direction: column;

  width: 80rem;
  height: 45rem;
}

.contener-header{
  display: flex;
  flex-direction: row;

}

.logoTitre {
display: flex;
  left: 20%;
  height: 5rem;
}

.button__langue {
  position: absolute;
  right: 20%;
  top: 25%;
  width: 2rem;
}

.drapeau {
  margin: 0.2em 0 0 0;
  width: 75%;
}

.div__Menu--langue {
  position: absolute;
  width: 5rem;
  height: 3rem;
  background-color: red;
  top: 75%;
  right: 10%;
  border-radius: 0.5em;
  display: none;
  z-index: 5;
}

/*se connecter sans rentrer son adresse, juste avec un lien resaux sociaux*/
.button__connection {
  position: absolute;
  right: 0px;
  width: max-content;
  height: min-content;
  top: 25%;
  padding: 0.6% 0.6em;
  font-size: 60%;
}

.div__menu--connexion {
  display: flex;
  width: 80%;
  height: 1200%;
  background-color: var(--last-color);
  top: 150%;
  right: 10%;
  border-radius: 0.5em;
  border: solid 2px;
  border-color: var(--bleu-one);
  box-shadow: 10px 5px 5px darkslategrey;
  display: none;
  z-index: 5;
}

// ********** main general 

.div__section-principal--inviter--joueur {
  display: flex;
  flex-direction: row;
  width: 80rem;
  background: linear-gradient(0deg, rgba(15, 96, 133, 0.85), rgba(13, 59, 102, 0.35));
  height: 40rem;
  border-radius: 0.5em;
  justify-content: space-between;
}

// ******** le menu de gauche 

.div__roles--options {
  width: 20rem;
  height: 40rem;
  background-color: white;
  border-radius: vars.$raduis;

}

.contain__role--options {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
}

.Button__regles {
  width: 50%;
  padding: 3% 0;
  font-size: 110%;
  border-radius: 0.5em 0 0 0;
  font-family: vars.$police-main;
}

.Button__options {
  width: 50%;
  padding: 3% 0;
  font-size: 110%;
  border-radius: 0 0.5em 0 0;
  font-family: vars.$police-main;
}

.les_regles {
  display: none;
}

.P__astuces--1 {
  width: 80%;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: vars.$police-main;
}

.P__astuces--2 {
  width: 80%;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: vars.$police-main;
}

.P__astuces--3 {
  width: 80%;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: vars.$police-main;
}

/*div a cacher ou a afficher selon le clic*/
.les_options {
  display: block;
  width: 100%;
  height: 50%;
  margin-bottom: 10%;
}

.titre--option {
  font-size: 110%;
  font-family: vars.$police-main;
}

.div__Difficultéchoix {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 7% 5%;
  color: vars.$bleu-main;
  margin-bottom: 5%;
  font-family: vars.$police-main;
}

.button__difficulté {
  margin: 5% 0 0 0;
  font-family: vars.$police-main;
}

.h3__nb_de_taupe {
  display: block;
  text-align: center;
  color: vars.$bleu-main;
  padding: 7% 5%;
}

.div__nbDeTaupe--choix {
  display: flex;
  justify-content: center;
  color: vars.$bleu-main;
  margin-bottom: 5%;
}

.choixTaupe{
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 0 ;
}

.checkbox--taupe{
  margin: 0 0 0 0.5rem ;
}

.checkbox--taupe:hover {
  background-color: red;
}

.div__gestionCarteAction {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  color: vars.$bleu-main;
}

.button__carte--pupute {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  margin-bottom: 5%;
  font-family: vars.$police-main;
}
// ************ choix du pseudo et de l'avatar  => non-visible par l'hote
.contenerNonHote{
  display: none;
  flex-direction: column;
  width: 50%;
  align-items: center;
  color: vars.$bleu-main;
}

.alertLength{
  position: absolute;
  top: 10.1rem;
  display: none;
  background-color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: vars.$raduisLittle;
  color: vars.$red;
  border: 1px solid vars.$red;
}

.alertEmpty{
  position: absolute;
  top: 10.1rem;
  display: none;
  background-color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: vars.$raduisLittle;
  color: vars.$red;
  border: 1px solid vars.$red;
}

.inputName{
  border: 1px solid vars.$bleu-main;
  border-radius: vars.$raduisLittle;
  height: 2rem;
  width: 12rem;
  margin: 1rem 0 1.4rem 0;
  padding: 0 0 0 1rem ;
  font-family: vars.$police-main;
  font-size: 1.2rem;
  color: vars.$bleu-main;
}

.alertAvatarEmpty{
  position: absolute;
  top: 14rem;
  right: 51rem;
  display: none;
  background-color: white;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: vars.$raduisLittle;
  color: vars.$red;
  border: 1px solid vars.$red;
}

// ************ Le button du centre pour copier le lien => visible seulement par l'hote

.div__link--invit {
  display: none;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  height: 12rem;
  width: 20rem;
  color: var(--bleu-one);
  border-radius: 0.5em;
  border: 3px solid;
  border-color: var(--bleu-one);
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  font-family: vars.$police-main;
}

.div__link--invit:hover {
  display: flex;
  position: relative;
  top: 3px;
  left: 2px;
}

.img__icone--information{
  display: flex;
  margin: 0.3em 0 0 90%;
  height: 1.2em;
}

.div__conseil--hide{
  position: absolute;
  display: none;
  width: 10em;
  left: 105%;
  bottom: 70%;
  font-family: var(--police);
  font-size: 120%;
  color: var(--bleu-one);
  background-color: var(--last-color);
  border: 2px solid var(--bleu-one);
  border-radius: 0.5em;
  z-index: 2;
padding: 1em 0 ;
}

.partage__titre {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--police);
  padding: 2% 0 5% 0 ;
  font-weight: 400;
  font-size: 120%;
}

.img__partager {
  display: flex;
  margin: 5% 0 5% 0;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

//********** la div de droite => les joueurs

.wapperJoueur{
  overflow-y: scroll;
}

.div__listeJoueurs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20rem;
  height: 40em;
  background-color: white;
  border-radius: 0.5em;

}

.div__nbdejoueur {
  display: flex;
  justify-content: center;
  margin: 5% 0;
  color: var(--bleu-one);

}

.Joueur__localStorage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 5%;
  padding: 2% 0;
  border: 2px solid;
  border-color: var(--bleu-one);
  border-radius: 0.5em;
  color: var(--bleu-one);
}

.nbdejoueurs {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 5% 0;
}

.listedejoueurs {
  margin: 10% 2%;
  margin-bottom: 15%;
}

.Joueur__localStorageSelf{
  display: flex;
  justify-content: space-around ;
}

.logo__joueursSelf{
  display: flex;
  width: 2rem;

}

.Pseudo__joueurSelf{
  display: flex;
  font-size: 1.2rem;
  align-self: center;
  color: vars.$bleu-main;
  margin: 0rem 0rem;
}

.playerReady{
  display: flex;
  position:relative;
  left: 0rem;
  align-self: center;
  color: vars.$bleu-main;
  padding: 0.4rem 0.6rem ;
}

.button__lancer__une__partie--2 {
  /*position: absolute;
  bottom: 0px;
  right: 0px;*/
  display: flex;
  margin: 0.7rem 5.2rem;
  width: 8rem;
  height: 2em;
  padding: 0 auto;
  font-size: 100%;
}

.ad-2 {
  display: flex;
  margin: 6rem 0 0 0;
  width: 160px;
  height: 600px;
  background-color: gray;
}
